@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/*div.divider del menu*/
/*div.dropdown-divider {
  background-color: brown;
  height: : 200px;
  width: 200px;
}
h
*/
/*elementos a del menu*/
#contenido_principal {
  background-color: #eee;
}
/*carrusel index*/
div#slider.carrusel {
  background-color: #eee;
}
h2#busqueda {
  color: red;
}
a.dropdown-item{
  background: #fff;
  height: 50px;
  color: black;

}
/*hover de los eemntos a del menu*/
a.dropdown-item:hover{
  background: brown;
  color: #fff;
  
}
/*hover */
a#hijos.dropdown-item {
  color: rgba(0, 0, 0, 0.82);
  background: white;
}
a#hijos.dropdown-item:hover {
  color: #fff;
  background: brown;

}

/*opcion del salir y ajustes de index*/
#men {
  
  color: brown;
  
  /*background-color: brown;*/
}

a#men.dropdown-item:hover{
  color: white;
  
  background-color: brown;
}
/*modallogin*/
#iniciarsesion {
  color: brown;
  text-align: center;

}
#email { 
  
  margin-top: 5px;
}
#password{

  margin-top: 5px;
}
#olvidar {
  color: brown;
  text-align: center;
}
#logi {
  align-content: center;
}
.ir-arriba {
  padding:20px;
  display:inline-block;
  background:brown;
  color:#fff;
  position: fixed;
  font-size:20px;
  bottom:20px;
  right:20px;
  display:none;
  cursor:pointer;
}

/*tamamio del carrusel de publicaciones*/
#publicacion {
  width: 100%;
  height: 470px;
}
@media screen and (max-width: 768px) {

  #publicacion {
    width: 100%;
    height: auto;

  }
}

body,html{}

body {
  color: #5a5a5a;
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 15px;
  /*para ocultar la barra*/
  overflow-x: hidden;
}
/*imag fluid index*/
#internacional {
  width: 100%;
  height: 200px;

}
#nacional {
  width: 100%;
  height: 200px;

}
@media screen and (max-width: 768px) {

  #internacional {
    width: 100%;
    height: auto;

  }
}
@media screen and (max-width: 768px) {

  #nacional {
    width: 100%;
    height: auto;

  }
}
/*#fluid {
	width: 100%;
    height: 200px;

}
@media screen and (max-width: 768px) {

	#fluid {
	max-width: 100%;
    height: auto;

    }*/
  }
  .pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
  .pagination {
    
  }
  /*migas de pan show*/
  /** The Magic **/
  .btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
  }
  .btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;

  }
  #miga {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
  }
  #titulo {
    padding-top: 10px;
  }

  /** The Spacing **/
  .btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
  }
  .btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
  }
  .btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
  }

  /** primary button **/
  .btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
  }
  .btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
  }
  .btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
  }
  .btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
  }

  h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
  }
  a, a:hover, .btn{outline:none!important;}
  .btn-search{background: #FD3A13; border-color: #FD3A13; color: #fff; padding: 7px 10px}
  .btn-search:hover{background: #ca1b1b; border-color: #ca1b1b}
  section{padding: 30px 0; float: left; width: 100%}
  .card{float: left; width:100%}
  .navbar {border: medium none; float: left; margin-bottom: 0px; width: 100%;  border-radius: 0}
  .title-large {font-size: 20px; margin: 10px 0 5px; line-height: 27px; color: #141517;}
  .title-small { color: #141517; font-size: 16px; font-weight: 400; line-height: 23px; margin: 6px 0 0;}
  .title-x-small {font-size: 18px; margin: 0px;}
  .title-large a, .title-small a, .title-x-small a{color: inherit}

  .loaders {width: 100%; box-sizing: border-box; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; }
  .loaders .loader {box-sizing: border-box; display: flex; flex: 0 1 auto; flex-direction: column; flex-grow: 1; flex-shrink: 0; flex-basis: 25%;
    max-width: 25%; height: 200px; align-items: center; justify-content: center;}
    .loader{display: table; height: 100%; position: fixed; width: 100%; z-index: 1200;}
    .loader-bg{background: #fff}
    .loader-inner {display: table-cell; text-align: center; vertical-align: middle;}

    .banner-sec{float: left; width: 100%; background: #EBEBEB}
    .card-block{padding:0 10px 10px;}
    .card-text{margin: 0}
  .text-time{color: #ff0000; /*font-weight: 600;*/}
  small#sma.text-time {
    color: #ff0000;
    font-weight: 500;
    font-size: 16px;

  }
  .banner-sec .card-img-overlay{padding: 0; top: 3px; left: 7px; height: 20%}

  header{float: left; width:100%}

  .small-top{ 
   
    border-bottom: 1px solid #2b2b2b;
    float: left;
    width: 100%;
    background: white;

  }
  .small-top .social-icon{float: right;}
  .small-top .social-icon a {border-left: 1px solid #2b2b2b; color: #ca1b1b; float: left; padding: 6px 13px;}
  .small-top .social-icon a:last-child {border-right: 1px solid #2b2b2b;}
  .small-top .social-icon a:hover {color:#FD3A13; text-decoration: none;}
  .small-top .date-sec {font-size: 13px; font-weight: 600; float: left; margin-top: 4px; padding-left: 0; color: #898989}
  .top-head {
    background: brown;
    width: 100%;
    float: left;
    height: 100px;
  }

  .top-head h1 {color: #fff; font-size: 36px; font-weight: 600; margin: 18px 0 0;}
  .top-head small{float: left; width: 100%; font-size: 14px; color: #c0c0c0; margin-top: 5px; margin-left: 5px;}
  .top-head .admin-bar {text-align: right; margin-top: 22px;}
  .top-head .admin-bar a {color: #fff; line-height: 49px; position: relative}
  .top-head .admin-bar a:hover{color: #ff0000}
  .top-head .admin-bar a i{margin-right: 6px;}
  .top-head .admin-bar .ping {background: #ff0000; border: 3px solid #141517; border-radius: 50%; height: 14px; position: absolute; right: -2px;    top: 13px; width: 14px; z-index: 1;}
  .top-head .admin-bar img {float: right; height: 50px; width: 50px; margin-left: 18px;}
  .top-nav{background: rgba(0, 0, 0, 0.81); padding: 0; border-bottom: 1px solid #dbdbdb}
  .top-nav .nav-link {padding-bottom: 0.7rem; padding-top: 0.7rem; color: white;}
  .top-nav .navbar-nav .nav-item + .nav-item{margin-left:0}
  .top-nav li a{color: #141517;  font-size: 16px;  padding: 0 10px; border-bottom: 2px solid #fff}
  .top-nav li a:hover, .top-nav li a:focus, .top-nav li.active a{color: white; border-bottom: 2px solid #FD3A13 }
  .top-nav .form-control{border-color: #fff}
  .navbar-toggle{background: #fff;}
  .navbar-toggle .icon-bar{background:#0A2E61; }
  .navbar-brand{display: none;}

  .top-slider .carousel-indicators{bottom: 0}
  .top-slider .carousel-indicators li{border:1px solid #000;}
  .top-slider .carousel-indicators .active{background:#000;}


  .side-bar .nav-tabs{border-bottom:none;}
  .side-bar .nav-tabs .nav-link {color: #aeaeae; text-transform: uppercase; border: none;}
  .side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover{border-bottom:2px solid #ff0000;  text-transform: uppercase; color: #222}
  .sidebar-tabing .media{margin-top: 20px}
  .sidebar-tabing .media-left img{width: 120px;height: 100px;}
  .sidebar-tabing .title-small {line-height: 23px; margin-top: 5px; font-size: 18px}

  #search {float: right; margin-top: 9px; width: 250px;}
  .search {padding: 5px 0; width: 230px; height: 30px; position: relative; left: 10px; float: left; line-height: 22px;}
  .search input {background: #d0d0d0; border: medium none; border-radius: 3px 0 0 3px; float: left; height: 36px; line-height: 18px; margin-left: 210px; padding: 0 9px; position: absolute; top: 4px; width: 0; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;}
    .search:hover input, .search input:focus { width: 200px; margin-left: 0px; background: #d0d0d0;}
    .top-nav .btn {position: absolute;right: 0;top: 4px;border-radius:3px;}

    .banner-sec{float: left; width:100%;}
    .banner-sec .news-block{margin-bottom: 20px}
    .banner-sec .news-block:last-child{margin-bottom: 0px}
    .banner-sec .news-des {margin-bottom: 5px;}
    .banner-sec .title-large{margin: 18px 0 0}
    .banner-sec .time{margin-top: 0px; font-size: 13px;}
    .banner-sec .carousel-control.left, .banner-sec .carousel-control.right{background: none;}

    .section-01{float: left; width: 100%;  border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5}
    .section-01 .heading-large {border-bottom: 2px solid #222; color: #222; float: left; width: 100%; padding:0 0 6px; margin:0 0 18px; text-align: left;}
    .section-01 .heading-large::before, .section-01 .heading-large::after{background: transparent;}
    .section-01 .heading-small {border-bottom: 2px solid #222; color: #222; float: left; margin: 7px 0 0; width: 100%; padding-bottom: 10px; font-size: 18px }
    .section-01 .title-small {margin-bottom: 5px; font-size:17px }
    .section-01 .news-block{border-bottom: 1px dashed #000; padding-bottom: 30px; border: none;}
    .section-01 aside > .news-block{border-bottom: 1px dashed #000; padding-bottom: 19px;}
    .section-01 aside > .news-block:last-child{border-bottom: none; margin-bottom: 20px}
    .section-01 .card{border: none;}
    .section-01 .card-block{padding: 10px 0;}
    .section-01 .video-sec {float: left; margin-top: 30px; width: 100%;}
    .section-01 .video-block {float: left; margin-top: 20px; width: 100%;}

    .section-02{float: left; width: 100%;}
    /*secction imagnes index*/
    section#ima.section-02 {
      background-color: black;
      float: left;
      width: 100%;
    }
    /*section del carrusel*/
    section.section-01#section {
      background-color: #eee;
    }
    /*imagen del carrusel de la vista index*/
    .carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img, .img-fluid {
      display: block;
      max-width: 100%;
      height: 400px;
    }

    h6#slider {
      color:  white;
      font-size: 20px;
      text-align: center;

    }
    h1#ver {
      color: white;
      text-align: center;
      font-size: 16px;
    }
    .heading-large{color: #222;float: none;font-size: 28px; font-weight: 700; margin: 0 auto 30px; padding: 0 10px; position: relative;    text-align: center; text-transform: uppercase; width: 45%;}
    .heading-large::before{ background: #222; height: 3px; content: ""; width: 100px; position: absolute; left: -25%; top: 43%;}
    .heading-large::after{  background: #222; content: ""; height: 3px; position: absolute; right: -25%; top: 43%; width: 100px;}
    .section-02 h3{float: left; width: 100%}
    .section-02 .card{border: none; margin-bottom: 0}
    .section-02 .card-block{padding: 10px 0}
    .section-02 .news-listing{margin-top: 0}
    .news-listing{padding: 0; list-style: none; float: left; width: 100%; margin:15px 0; }
    .news-listing li{float: left; width: 100%; padding: 10px; background: #efefef; border-bottom: 1px solid #fff; margin: 5px 0}
    .news-listing li a::before{content:">>"; margin-right: 10px}
    .news-listing li a{ color: #222; font-weight: 400; font-family: 'Roboto Slab', serif;}

    .video-gallery-sec{float: left; width: 100%; background: #efefef; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
    /*position: relative;*/
    .video-gallery-sec .row{margin-bottom: 30px}
    .video-gallery-sec .gallery-counter{position: absolute; background: rgba(10,46,97,0.7); color: #fff; bottom: 0; width: 24%; left: 0; padding: 3px 10px }
    .video-gallery-sec .gallery-counter i{margin-right: 7px; }
    .news-block {float: left; width: 100%;}
    .news-block .news-title{color: #083568; float: left; width: 100%}
    .news-block .news-des {color: #2e2e2e; float: left; font-size: 15px; font-weight: 400; width: 100%;}
    .news-block .news-auther {float: left; width: 100%; color: #2e2e2e; font-size: 13px}
    .news-block .news-auther strong{font-weight: 600;}
    .news-block .news-media {float: left; position: relative; width: 100%;}
    .news-block .title-small{float: left; width: 100%; margin-top: 10px;}

    .sub-footer{float: left; width: 100%; padding: 30px 0 60px; background:#0A2E61;}
    .sub-footer .heading-large{color: #fff;}
    .sub-footer .heading-large::before, .sub-footer .heading-large::after{background: #fff}
    .sub-footer .carousel-control.left, .sub-footer .carousel-control.right{background: none;}

    #myCarousel .carousel-caption {left:0;	right:0;	bottom:0;	text-align:left;	padding:10px;	background:rgba(0,0,0,0.6);	text-shadow:none;}
    #myCarousel h4{font-size: 1.23vw; margin-bottom: 12px; line-height: 1.09em}
    #myCarousel .carousel-caption p{font-size: 15px}
    #myCarousel .carousel-caption .title-large a{color: #fff;}
    #myCarousel .list-group {position:absolute;	top:0;	right:0;}
    #myCarousel .list-group-item {border-radius:0px;	cursor:pointer;}
    #myCarousel .list-group-item:hover, #myCarousel .list-group-item:focus, #myCarousel .list-group .active {	background-color:#005689; color: #fff; border:1px solid #005689;}


    footer { 
     background-color: brown;
     width: 100%;
     float: left;
     padding: 40px 0 20px;
   }
   footer .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
   footer .footer-ul li { font-size:14px; margin-bottom: 10px;}
   footer .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
   footer .footer-ul i { margin-right:10px;}
   footer .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#fff; text-decoration: none; }
   footer .social-icons i{background: #fff none repeat scroll 0 0; border-radius: 50%; color: #141517; padding: 8px 10px; margin-bottom: 10px;}
   footer p{color: #a0a3a4; font-size: 14px;}
   footer p span{color: #fff;}
   footer .heading-footer { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
   footer .post p { font-size:14px; color:#FFF; line-height:20px;}
   footer .post p span { display:block; color:#8f8f8f; font-size: 12px;}

   .copyright { min-height:40px; background-color:#000; float: left; width: 100%}
   .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px; font-size: 13px;}
   .copyright a{color: #fff}
   .copyright a:hover{color: #ff0000; text-decoration: none;}
   .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
   .bottom_ul li { float:left; line-height:40px;}
   .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
   .bottom_ul li a { color:#FFF;  font-size:12px;}

   fa
   /*boton del menu respindive*/
   .navbar-toggler {
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
  }
  /*slider con javascrip*/
  #flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
    display: none;
  }
  .nbs-flexisel-container {
    position: relative;
    max-width: 100%;
  }
  .nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
  }
  .nbs-flexisel-inner {
    overflow: hidden;
  }
  .nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
  }
  .nbs-flexisel-item > img {
    
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 2 0%;
  }
  /*** Navigation ***/
  .nbs-flexisel-nav-left {
    display:none;
  }
  .nbs-flexisel-nav-right {
    display:none;
  } 
  .review-slider {
    background: black;
    padding: 1em 0;
  }
  /*fin slider*/


  /*inicio comentarios*/


  .widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  .widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
  }
  .status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
  }
  .status-upload form {
    float: left;
    width: 100%;
  }
  .status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
  }

  .status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
  }
  .status-upload ul > li {
    float: left;
  }
  .status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
  }
  .status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
  }
  .status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
  }
  .dropdown > a > span.green:before {
    border-left-color: #2dcb73;
  }
  .status-upload form button > i {
    margin-right: 7px;
  }


  /*fin comentarios*/



  /*incio vista show publicaciones con comentarios*/
  div#comentarios.row 
  {
    background: #efefef;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #come {
    color: black;
    font-size: 14px;
    text-align: justify;
  }
  #comentar {
    color: black;
    font-size: 16px;
    text-align: center;
  }
  /*fin*/



  /*icono de ver*/

  #ver.fa.fa-eye {
    color: brown;
    padding-right: 10px;
  }
  #cale.fa.fa-calendar {
    color: brown;
    padding-right: 10px;
  }
  #user.fa.fa-user {
    color: brown;
    padding-right: 10px;
  }

  /*multi carrusel*/
  .carousel-multi-item .controls-top .btn-floating {
    background: #4285F4;
  }
